{% extends 'base.html.twig' %}

{% block title %}Les solutions{% endblock %}

{% block body %}

    <div class="max-w-screen-xl w-auto mx-auto mt-4">

        <div class="flex flex-row justify-between items-center">

            <div id="first-img-solu-1-div" class="h-auto">
                <img class="w-64 h-auto border-8 border-teal-950 rounded-full img-ring-after bg-white" src="assets/icons/img.png">
            </div>

            <p class="w-2/4 h-max p-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at convallis arcu. Aliquam erat volutpat. Proin tellus urna, dictum sed dapibus vel, aliquet non eros. Pellentesque sagittis, ex non vulputate consectetur, neque augue pellentesque massa, at blandit quam mi vel nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            </p>
            <div class="w-64 h-64"></div>

        </div>

        <div class="flex flex-row-reverse justify-between items-center">


            <div id="first-img-solu-2-div" class="h-auto">
                <img class="w-64 h-auto border-8 border-green-800 rounded-full img-ring-after bg-white" src="assets/icons/img.png">
            </div>

            <p class="w-2/4 p-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at convallis arcu. Aliquam erat volutpat. Proin tellus urna, dictum sed dapibus vel, aliquet non eros. Pellentesque sagittis, ex non vulputate consectetur, neque augue pellentesque massa, at blandit quam mi vel nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            </p>

            <div class="w-64 h-full">

            </div>
        </div>

        <div class="flex flex-row justify-between items-center">


            <img class="w-64 h-auto border-8 border-teal-950 rounded-full img-ring-after bg-white" src="assets/icons/img.png">


            <p class="w-2/4 h-max p-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at convallis arcu. Aliquam erat volutpat. Proin tellus urna, dictum sed dapibus vel, aliquet non eros. Pellentesque sagittis, ex non vulputate consectetur, neque augue pellentesque massa, at blandit quam mi vel nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            </p>
            <div class="w-64 h-64"></div>

        </div>

        <div class="flex flex-row-reverse justify-between items-center">


            <img class="w-64 h-auto border-8 border-green-800 rounded-full img-ring-after bg-white" src="assets/icons/img.png">

            <p class="w-2/4 p-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at convallis arcu. Aliquam erat volutpat. Proin tellus urna, dictum sed dapibus vel, aliquet non eros. Pellentesque sagittis, ex non vulputate consectetur, neque augue pellentesque massa, at blandit quam mi vel nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            </p>

            <div class="w-64 h-full">

            </div>
        </div>

    </div>

{% endblock %}
