{% extends 'base.html.twig' %}

{% block title %}Les solutions{% endblock %}

{% block body %}

    <div class="max-w-screen-xl w-auto mx-auto mt-4">

        <div class="flex flex-row justify-between items-center">

            <div id="first-img-solu-1-div" class="h-auto">
                <img class="w-64 h-auto border-8 border-teal-950 rounded-full img-ring-after bg-white" src="assets/icons/img.png">
            </div>

            <p class=" h-max p-10">
                Je mange moins de viande: En diminuant ma consommation de viande, je réduis mon empreinte carbone.
                <br><br>
                Je mange bio: En privilégiant les aliments biologiques, je soutiens une agriculture plus respectueuse de l'environnement.
                <br><br>
                J’évite le gaspillage alimentaire: En planifiant mes repas et en conservant mieux mes aliments, je réduis le gaspillage et contribue à la préservation des ressources.

            </p>

            <div class="w-64 h-64"></div>

        </div>

        <div class="flex flex-row-reverse justify-between items-center">


            <div id="first-img-solu-2-div" class="h-auto">
                <img class="w-64 h-auto border-8 border-green-800 rounded-full img-ring-after bg-white" src="assets/icons/img.png">
            </div>

            <p class="w-2/4  p-10">
                J’évite de prendre l’avion: En favorisant d'autres moyens de transport comme le train ou le covoiturage, je diminue mon empreinte carbone.
                <br><br>
                Prendre les transports en commun: En utilisant les transports publics, je réduis les émissions de CO2 et la congestion routière.
                <br><br>
                Je partage mon véhicule: En pratiquant le covoiturage, j'optimise l'utilisation des voitures et réduis le nombre de véhicules sur la route.
                <br><br>
                Je propose un plan de mobilité: En encourageant des initiatives locales pour des transports plus durables, je contribue à des solutions adaptées à ma communauté.
            </p>

            <div class="w-64 h-full">

            </div>
        </div>

        <div class="flex flex-row justify-between items-center">


            <img class="w-64 h-auto border-8 border-teal-950 rounded-full img-ring-after bg-white" src="assets/icons/img.png">


            <p class="h-max p-10">
                Je soutiens les énergies renouvelables: En optant pour des sources d'énergie vertes comme l'éolien ou le solaire, je participe à la transition énergétique.
                <br><br>
                Je rénove mon logement: En améliorant l'isolation et en utilisant des équipements éco-énergétiques, je réduis ma consommation d'énergie.
                <br><br>
                J’achète des appareils efficaces: En choisissant des appareils avec une meilleure efficacité énergétique, je limite ma consommation d'électricité.
                <br><br>
                J’arrête les gaspillages d’énergie: En adoptant des comportements économes, comme éteindre les lumières inutiles, je réduis ma facture énergétique.
                <br><br>
                Je change de fournisseur d’électricité: En optant pour un fournisseur qui propose de l'énergie verte, je contribue à encourager la production d'électricité renouvelable.
            </p>

            <div class="w-64 h-64"></div>

        </div>

        <div class="flex flex-row-reverse justify-between items-center">


            <img class="w-64 h-auto border-8 border-green-800 rounded-full img-ring-after bg-white" src="assets/icons/img.png">

            <p class="p-10">
                J’achète durable et réparable: En favorisant des produits durables et réparables, je limite la production de déchets.
                <br><br>
                Je réduis mes déchets: En adoptant le recyclage et en faisant attention à mes habitudes de consommation, je réduis ma production de déchets non recyclables.
            </p>

            <div class="w-64 h-full">

            </div>
        </div>

    </div>

{% endblock %}
