{% extends 'base.html.twig' %}

{% block title %}Les solutions{% endblock %}

{% block body %}

    <div class="max-w-screen-2xl w-auto mx-auto mt-8">
        <div class="flex flex-row justify-between items-center">
            <p class="w-auto h-auto ml-0 text-center mt-0 text-6xl text-transparent bg-clip-text bg-gradient-to-r from-teal-700 to-green-600">Solutions Individuelles</p>

            <p class="w-auto h-auto ml-0 text-center mt-0 text-6xl text-transparent bg-clip-text bg-gradient-to-r from-teal-700 to-green-600">Solutions Collectives</p>
        </div>
    </div>
    <div class="max-w-screen-xl w-auto mx-auto mt-8">

        <div class="flex flex-row justify-between items-center flex-shrink-0">

            <div id="first-img-solu-1-div" class="w-64 h-64 ">
                <img id="first-img-solu-1-div"class="w-64 h-64 border-8 border-teal-950 rounded-full img-ring-after bg-white" src="assets/icons/agriculture-alimentation.png">
            </div>

            <p class="w-3/5 h-max p-10 ">
                Je mange moins de viande: En diminuant ma consommation de viande, je réduis mon empreinte carbone.<br>
                Je mange bio: En privilégiant les aliments biologiques, je soutiens une agriculture plus respectueuse de l'environnement.<br>
                J’évite le gaspillage alimentaire: En planifiant mes repas et en conservant mieux mes aliments, je réduis le gaspillage et contribue à la préservation des ressources.
            </p>

            <div class="w-64 h-64"></div>

        </div>

        <div class="flex flex-row-reverse justify-between items-center flex-shrink-0">


            <div id="first-img-solu-2-div" class="h-auto">
                <img class="w-64 h-64 border-8 border-green-800 rounded-full img-ring-after bg-white" src="assets/icons/transports.png">
            </div>

            <p class="w-3/5  p-10">
                Investissement dans les Transports en Commun : Allocation de ressources pour améliorer les réseaux de transports en commun, augmentation de la fréquence et de la fiabilité des services, développement d'infrastructures favorisant l'utilisation des transports publics (stations, voies réservées, etc.).
            </p>

            <div class="w-64 h-full">

            </div>
        </div>

        <div class="flex flex-row justify-between items-center">


            <img class="w-64 h-64 border-8 border-teal-950 rounded-full img-ring-after bg-white" src="assets/icons/transports.png">


            <p class="w-3/5 p-10">
                J’évite de prendre l’avion: En favorisant d'autres moyens de transport comme le train ou le covoiturage, je diminue mon empreinte carbone.<br>
                Prendre les transports en commun: En utilisant les transports publics, je réduis les émissions de CO2 et la congestion routière.<br>
                Je partage mon véhicule: En pratiquant le covoiturage, j'optimise l'utilisation des voitures et réduis le nombre de véhicules sur la route.<br>
                Je propose un plan de mobilité: En encourageant des initiatives locales pour des transports plus durables, je contribue à des solutions adaptées à ma communauté.
            </p>

            <div class="w-64 h-64"></div>

        </div>

        <div class="flex flex-row-reverse justify-between items-center">


            <img class="w-64 h-64 border-8 border-green-800 rounded-full img-ring-after bg-white" src="assets/icons/transports.png">

            <p class="w-3/5 p-10">
                Promotion de la Mobilité Douce : Création de réseaux de pistes cyclables sécurisées, installation de stationnements pour vélos, limitation de la vitesse des véhicules dans certaines zones résidentielles, campagnes de sensibilisation.
            </p>

            <div class="w-64 h-full">

            </div>
        </div>

        <div class="max-w-screen-xl w-auto mx-auto mt-4">


            <div class="flex flex-row justify-between items-center">


                <img class="w-64 h-64 border-8 border-teal-950 rounded-full img-ring-after bg-white" src="assets/icons/energie.png">

                <p class="w-3/5 p-10">
                    Je soutiens les énergies renouvelables: En optant pour des sources d'énergie vertes comme l'éolien ou le solaire, je participe à la transition énergétique.<br>
                    Je rénove mon logement: En améliorant l'isolation et en utilisant des équipements éco-énergétiques, je réduis ma consommation d'énergie.<br>
                    J’achète des appareils efficaces: En choisissant des appareils avec une meilleure efficacité énergétique, je limite ma consommation d'électricité.<br>
                    J’arrête les gaspillages d’énergie: En adoptant des comportements économes, comme éteindre les lumières inutiles, je réduis ma facture énergétique.<br>
                    Je change de fournisseur d’électricité: En optant pour un fournisseur qui propose de l'énergie verte, je contribue à encourager la production d'électricité renouvelable.
                </p>

                <div class="w-64 h-64"></div>

            </div>

            <div class="flex flex-row-reverse justify-between items-center">



                <img class="w-64 h-64 border-8 border-green-800 rounded-full img-ring-after bg-white" src="assets/icons/urgence-climatique.png">

                <p class="w-3/5  p-10">
                    Gestion des Déchets : Politiques de recyclage et de réutilisation, restrictions sur les emballages non recyclables, programmes de compostage à l'échelle communautaire.
                </p>

                <div class="w-64 h-full">

                </div>
            </div>

            <div class="flex flex-row justify-between items-center">


                <img class="w-64 h-64 border-8 border-teal-950 rounded-full img-ring-after bg-white" src="assets/icons/urgence-climatique.png">


                <p class="w-3/5 p-10">
                    J’achète durable et réparable: En favorisant des produits durables et réparables, je limite la production de déchets.<br>
                    Je réduis mes déchets: En adoptant le recyclage et en faisant attention à mes habitudes de consommation, je réduis ma production de déchets non recyclables.
                </p>

                <div class="w-64 h-64"></div>

            </div>

            <div class="flex flex-row-reverse justify-between items-center">


                <img class="w-64 h-64 border-8 border-green-800 rounded-full img-ring-after bg-white" src="assets/icons/europe.png">

                <p class="w-3/5 p-10">
                    Soutien à l'Agriculture Durable : Incitations pour des pratiques agricoles durables, telles que l'agroécologie et la réduction des intrants chimiques.
                </p>

                <div class="w-64 h-full">

                </div>
            </div>

            <div class="flex flex-row justify-between items-center">


                <img class="w-64 h-64 border-8 border-teal-950 rounded-full img-ring-after bg-white" src="assets/icons/industrie.png">

                <p class="w-3/5 p-10">
                    Lutter contre la pollution numérique. La pollution numérique représente 4% du gaz à effet de serre émis en France, et pourtant elle n’est pas si connue. Elle renvoie à la pollution engendrée par les nouvelles technologies. Nos téléphones portables, nos objets connectés en ligne et Internet génèrent des polluants néfastes pour notre planète. En effet, cela représente une part importante d’énergie utilisée, de ressources extraites et de serveurs branchés.
                </p>

                <div class="w-64 h-64"></div>

            </div>

            <div class="flex flex-row-reverse justify-between items-center">



                <img class="w-64 h-64 border-8 border-green-800 rounded-full img-ring-after bg-white" src="assets/icons/actions-locales.png">

                <p class="w-3/5  p-10">
                    Politiques d'Approvisionnement Responsable : Privilégier l'achat de biens et services durables, issus de sources responsables et respectueuses de l'environnement.
                </p>

                <div class="w-64 h-full">

                </div>
            </div>

            <div class="flex flex-row justify-between items-center">


                <img class="w-64 h-64 border-8 border-teal-950 rounded-full img-ring-after bg-white" src="assets/icons/energie.png">

                <p class="w-3/5 p-10">
                    Réduire sa consommation d’électricité. C’est pas Versailles ici ! L'idée est de limiter au maximum le gaspillage énergétique. Par exemple, isoler correctement son logement pour éviter la déperdition, utiliser des énergies renouvelables et des lampes LED, baisser son chauffage, etc. Ce sont des petits gestes simples qui permettent de réduire nos émissions de CO2 !
                </p>

                <div class="w-64 h-64"></div>

            </div>

            <div class="flex flex-row-reverse justify-between items-center">


                <img class="w-64 h-64 border-8 border-green-800 rounded-full img-ring-after bg-white" src="assets/icons/batiment.png">


                <p class="w-3/5 p-10">
                    Réglementations sur l'Énergie : Normes strictes pour l'efficacité énergétique des bâtiments, utilisation de sources d'énergie renouvelables, incitations financières pour la rénovation éco-énergétique.
                </p>

                <div class="w-64 h-64"></div>

            </div>
        </div>
    </div>

{% endblock %}
