{% extends 'base.html.twig' %}

{% block title %}Hello SourcesController!{% endblock %}

{% block body %}
<div class="max-w-screen-xl w-auto max-h-full h-auto mx-auto">
    <p class="text-2xl mx-auto my-4 text-center">
        Nos sources :
    </p>
    <p class="mx-auto text-center py-2">Le site de <a class="text-blue-700" href="https://reseauactionclimat.org">Réseau action Climant France</a></p>
    <p class="mx-auto text-center py-2">Le site de <a class="text-blue-700" href="https://www.ademe.fr/"> l'ADEME </a></p>
    <p class="mx-auto text-center py-2">Le site de <a class="text-blue-700" href="https://www.ipcc.ch/">l'IPCC</a></p>
    <p class="mx-auto text-center py-2">Le site de <a class="text-blue-700" href="https://bonpote.com/">l'association Bonpote</a></p>
    <p class="mx-auto text-center py-2">Le site de <a class="text-blue-700" href="https://avenirclimatique.org/">l'association Avenir Climatique</a></p>
    <p class="mx-auto text-center py-2">Le site de <a class="text-blue-700" href="https://www.notrenature.be/">l'association Notre Nature</a></p>
    <p class="mx-auto text-center py-2">Le site du <a class="text-blue-700" href="https://climat.cned.fr/formations/">CNED</a></p>
    <p class="mx-auto text-center py-2">Le site de <a class="text-blue-700" href="https://www.theecoexperts.co.uk/">The Eco Experts</a></p>
    <p class="mx-auto text-center py-2">Le site de <a class="text-blue-700" href="https://nosgestesclimat.fr/?lang=fr">Nos gestes climat</a></p>
    <p class="mx-auto text-center py-2">Le site du <a class="text-blue-700" href="https://www.ecologie.gouv.fr/publication-du-6e-rapport-synthese-du-giec">Gouvernement Français</a></p>
    <p class="mx-auto text-center py-2">Le chatBot de <a class="text-blue-700" href="https://huggingface.co/spaces/Ekimetrics/climate-question-answering">Ekimetrics sur le climat</a></p>
    <p class="mx-auto text-center py-2">La <a class="text-blue-700" href="https://earth.nullschool.net/fr/#2023/08/24/2100Z/wind/primary/waves/anim=off/overlay=temp/patterson=0.00,0.00,362/loc=-11.238,20.440">carte Intéractive sur le climat de Earth.nullschool</a></p>
</div>
{% endblock %}
