{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="flex flex-col items-center justify-evenly bg-gradient-to-b from-green-800 to-teal-600 w-full h-full">
        <div class="m-6 py-6 px-10 bg-glass ">
                <h1 class="text-5xl font-bold my-2">Contexte de ce site web: </h1>
                <p class="w-2/3">Nous avons créé ce site web dans un but simple : <b>Déconstruire les fausses idées reçues sur le changement climatique mais plus généralement sensibiliser les gens à l'urgence du changement climatique, et montrer les différentes solutions pour le ralentir/l'empêcher de continuer.</b><br><br>Pour se faire, nous avons mis en place un quiz interactif pouvant permettre de vous apprendre des faits identifiés sur les émissions de Gaz à Effet de Serre (GES). De plus, nous avons caché des petits secrets dans le site, secrets étant tout aussi informatifs.<i>Indice : ils sont bien cachés ;)</i><br><br>Nous espérons donc que le site puisse vous en apprendre plus sur le danger que nous encourrons à l'heure actuelle, ainsi que les moyens pouvant aider à l'arrêt de ce processus.</p>
        </div>
        <div class="m-6 py-6 px-10 bg-glass">
            <h1 class="text-5xl font-bold my-2">Réseau Action Climat :</h1>
            <p class="w-2/3">Le Réseau Action Climat, fédération de 37 associations nationales et locales, lutte contre les causes du changement climatique, de l’échelle internationale à l’échelle locale. Il est le représentant français du Climate Action Network International, réseau mondial de plus de 1900 ONG.<br><br>Conscient des impacts majeurs, actuels et à venir, du changement climatique sur l’ensemble de nos sociétés, le Réseau Action Climat porte la mise en place de mesures pour réduire les émissions de gaz à effet de serre de l’ensemble des secteurs responsables. Convaincu que la lutte contre le changement climatique représente aussi une formidable option de sortie de crise et doit, pour réussir, bénéficier au plus grand nombre, il promeut des mesures à la fois bonnes pour le climat mais aussi porteuses de bénéfices en termes de création d’emplois, de préservation de la santé et de plus de justice sociale et de solidarité.</p>
        </div>
        <div class="m-6 py-6 px-10 bg-glass">
            <h1 class="text-5xl font-bold my-2 text-purple-900">Notre équipe :</h1>
            <p class="w-2/3">Notre équipe, <span class="text-purple-900">VoidLR</span>, est une équipe composée de 6 jeunes étudiants passionnés en deuxième année de BUT Informatique (développement d'applications), à l'IUT de La Rochelle. Nous nous sommes lancés dans cet évènement après s'y être essayés en 2022, malheureusement sans grande réussite.<br><br>Cependant, cette année est différente. La thématique nous concernait directement, tout comme elle concernera notre descendance, et cela nous a permis d'exploiter notre plein potentiel afin de créer ce site que vous explorez en ce moment même.<br><br>Merci de visiter notre site, et rappelez-vous, ceci n'est pas qu'un simple projet.<br>Ceci est notre avenir.<br><br>Signé,<br><span class="italic underline">Flavien CERCLERON, Antonin DAS NEVES, Arnaud MAZURIER, Adrien PANIS, Hugo RUSSEIL, Kévin SIMON</p>
        </div>
    </div>


{% endblock %}
