{% extends 'base.html.twig' %}

{% block title %}Hello EnjeuxController!{% endblock %}

{% block body %}

    <div class="mt-16 mx-auto max-w-7xl">
        <div class="flex flex-row justify-between items-center">
            <img class="w-1/4 h-auto border-8 border-green-800 rounded-full img-ring-after" src="assets/icons/urgence-climatique.png">
            <div class="w-2/4 p-10">
                <h1 class = "p-15 text-transparent bg-clip-text bg-gradient-to-r from-teal-700 to-green-600">Altérations environnementales</h1>
                <p class = "p-10">Les températures globales en hausse entraînent des phénomènes météorologiques extrêmes, des tempêtes plus intenses, des sécheresses prolongées et des inondations plus fréquentes, affectant la disponibilité de l'eau, les récoltes agricoles et la biodiversité.</p>
            </div>
            <div class="w-1/4 h-6"></div>
        </div>
        <hr class="mx-auto max-w-2xl h-2 my-8 bg-green-800 border-0 rounded-tr-full rounded-bl-full">
        <div class="flex flex-row-reverse justify-between items-center">
            <img class="w-1/4 h-auto border-8 border-green-800 rounded-full img-ring-after" src="assets/icons/international.png">
            <div class="w-2/4 p-10">
                <h1 class = "p-15 text-transparent bg-clip-text bg-gradient-to-r from-teal-700 to-green-600">Impacts sur la santé humaine</h1>
                <p class = "p-10">Les variations climatiques ont des répercussions sur la santé, avec une augmentation des maladies liées à la chaleur, des problèmes respiratoires dus à la pollution de l'air, et une expansion des maladies transmises par les vecteurs (comme le paludisme) vers de nouvelles régions.</p>
            </div>
            <div class="w-1/4 h-6"></div>
        </div>
        <hr class="mx-auto max-w-2xl h-2 my-8 bg-green-800 border-0 rounded-tl-full rounded-br-full">
        <div class="flex flex-row justify-between items-center">
            <img class="w-1/4 h-auto border-8 border-green-800 rounded-full img-ring-after" src="assets/icons/agriculture-alimentation.png">
            <div class="w-2/4 p-10">
                <h1 class = "p-15 text-transparent bg-clip-text bg-gradient-to-r from-teal-700 to-green-600">Défi pour la sécurité alimentaire</h1>
                <p class = "p-10">Les conditions météorologiques extrêmes et les modifications des écosystèmes affectent la production alimentaire, menaçant la sécurité alimentaire de millons de personnes dans le monde.</p>
            </div>
            <div class="w-1/4 h-6"></div>
        </div>
        <hr class="mx-auto max-w-2xl h-2 my-8 bg-green-800 border-0 rounded-tr-full rounded-bl-full">
        <div class="flex flex-row-reverse justify-between items-center">
            <img class="w-1/4 h-auto border-8 border-green-800 rounded-full img-ring-after" src="assets/icons/fiscalite.png">
            <div class="w-2/4 p-10">
                <h1 class = "p-15 text-transparent bg-clip-text bg-gradient-to-r from-teal-700 to-green-600">Conséquences économiques et sociales </h1>
                <p class = "p-10 mb-5">Ces cinquante dernières années, la consommation des ressources naturelles et des matières premières par l’homme a été multipliée par dix. Les matières utilisées pour produire les biens de consommation sont ainsi de plus en plus rares et leur fabrication implique l’émission de gaz à effet de serre. En outre, le fait de jeter un produit après utilisation augmente d’une part le volume de déchets, source de pollution, et entraîne à nouveau le recours à des ressources aujourd’hui limitées pour relancer la production de nouveaux biens de consommation.</p>
                <p class = "p-10 mb-5">Se fondant sur la réutilisation des ressources, des produits et des déchets, l’économie circulaire offre une voie de sortie au modèle du tout jetable et peut réconcilier économie et environnement. Elle permet de limiter la consommation, le gaspillage des ressources et la production des déchets.</p>
                <p class = "p-10 mb-5">En amont, la prévention des déchets est une démarche fondamentale. En favorisant l’éco-conception des produits, les comportements d’achats responsables et en agissant sur l’allongement de leur durée de vie, la prévention permet d’économiser le recours aux matières premières notamment celles non renouvelables.</p>
            </div>
            <div class="w-1/4 h-6"></div>
        </div>
        <hr class="mx-auto max-w-2xl h-2 my-8 bg-green-800 border-0 rounded-tl-full rounded-br-full">
        <div class="flex flex-row justify-between items-center">
            <img class="w-1/4 h-auto border-8 border-green-800 rounded-full img-ring-after" src="assets/icons/agriculture-alimentation.png">
            <div class="w-2/4 p-10">
                <h1 class = "p-15 text-transparent bg-clip-text bg-gradient-to-r from-teal-700 to-green-600">Risques accrus pour la biodiversité </h1>
                <p class = "p-10"> Les écosystèmes terrestres et marins subissent des changements rapides et souvent irréversibles, ce qui entraîne des pertes de biodiversité et met en péril de nombreuses espèces animales et végétales.</p>
            </div>
            <div class="w-1/4 h-6"></div>
        </div>

    </div>
{% endblock %}
