{% extends 'base.html.twig' %}

{% block title %}Hello EnjeuxController!{% endblock %}

{% block body %}

    <div class="mt-16 mx-auto max-w-7xl">
        <div class="flex flex-row justify-between items-center">
            <img class="w-1/4 h-auto border-8 border-green-800 rounded-full img-ring-after" src="assets/icons/urgence-climatique.png">
            <div class="w-2/4 p-10">
                <h1 class = "p-15 text-transparent bg-clip-text bg-gradient-to-r from-teal-700 to-green-600">Altérations environnementales</h1>
                <p class = "p-10">Les températures mondiales en augmentation ont déclenché une série de <span class="font-bold">conséquences météorologiques et environnementales préoccupantes</span>, bouleversant l'équilibre délicat de notre planète. Les changements climatiques ont intensifié et exacerbé les phénomènes météorologiques extrêmes, créant <span class="font-bold">un impact profond et étendu</span> sur de nombreux aspects de notre vie.<br><br>
                    En somme, les conséquences des températures globales en hausse vont bien au-delà des simples variations de température. Elles déclenchent une cascade d'événements météorologiques extrêmes, compromettant la disponibilité de l'eau, la sécurité alimentaire, et <span class="font-bold">mettant en péril</span> la riche biodiversité de notre planète. Face à cette réalité, il est impératif de prendre des <span class="font-bold">mesures collectives et durables</span> pour atténuer les effets du changement climatique et œuvrer pour un avenir plus résilient et durable pour tous.<br><br>
                </p>
            </div>
            <div class="w-1/4 h-6"></div>
        </div>
        <hr class="mx-auto max-w-2xl h-2 my-8 bg-green-800 border-0 rounded-tr-full rounded-bl-full">
        <div class="flex flex-row-reverse justify-between items-center">
            <img class="w-1/4 h-auto border-8 border-green-800 rounded-full img-ring-after" src="assets/icons/international.png">
            <div class="w-2/4 p-10">
                <h1 class = "p-15 text-transparent bg-clip-text bg-gradient-to-r from-teal-700 to-green-600">Impacts sur la santé humaine</h1>
                <p class = "p-10">Les variations climatiques, notamment <span class="font-bold">l'augmentation des températures globales</span>, ont des répercussions significatives sur la santé humaine, créant un paysage de risques sanitaires complexes et croissants à l'échelle mondiale.<br><br>
                    L'élévation des températures expose les populations à <span class="font-bold">des vagues de chaleur plus fréquentes et plus intenses</span>. Ces conditions peuvent entraîner une <span class="font-bold">augmentation des maladies</span> liées à la chaleur, telles que les coups de chaleur, l'épuisement dû à la chaleur et <span class="font-bold">les maladies cardiovasculaires</span>. Les personnes âgées, les jeunes enfants, les travailleurs en extérieur et <span class="font-bold">les individus avec des problèmes de santé préexistants sont particulièrement vulnérables</span> à ces effets néfastes de la chaleur accrue.
                </p>
            </div>
            <div class="w-1/4 h-6"></div>
        </div>
        <hr class="mx-auto max-w-2xl h-2 my-8 bg-green-800 border-0 rounded-tl-full rounded-br-full">
        <div class="flex flex-row justify-between items-center">
            <img class="w-1/4 h-auto border-8 border-green-800 rounded-full img-ring-after" src="assets/icons/agriculture-alimentation.png">
            <div class="w-2/4 p-10">
                <h1 class = "p-15 text-transparent bg-clip-text bg-gradient-to-r from-teal-700 to-green-600">Défi pour la sécurité alimentaire</h1>
                <p class = "p-10">Les phénomènes météorologiques extrêmes tels que les tempêtes plus intenses, les sécheresses prolongées et les inondations fréquentes <span class="font-bold">perturbent la production agricole</span>. Les sécheresses entraînent des pénuries d'eau, compromettant l'irrigation des cultures et la disponibilité des ressources hydriques pour l'agriculture. Les inondations <span class="font-bold">détruisent les cultures et les infrastructures</span>, entraînant des pertes massives de récoltes et des dommages matériels importants. De plus, ces événements imprévisibles et plus fréquents rendent difficile la planification et la gestion agricoles, <span class="font-bold">mettant en danger la stabilité des productions alimentaires.</span><br><br>
                    Parallèlement, les modifications des écosystèmes, induites par les changements climatiques, ont également <span class="font-bold">un impact sur l'agriculture</span>. La perte de biodiversité, la dégradation des sols et la diminution de la disponibilité des pollinisateurs naturels compromettent les rendements agricoles. Les écosystèmes perturbés ne fournissent plus les services écosystémiques nécessaires pour soutenir une agriculture productive et durable, ce qui <span class="font-bold">menace la capacité à nourrir efficacement une population mondiale croissante</span>.
            </div>
            <div class="w-1/4 h-6"></div>
        </div>
        <hr class="mx-auto max-w-2xl h-2 my-8 bg-green-800 border-0 rounded-tr-full rounded-bl-full">
        <div class="flex flex-row-reverse justify-between items-center">
            <img class="w-1/4 h-auto border-8 border-green-800 rounded-full img-ring-after" src="assets/icons/fiscalite.png">
            <div class="w-2/4 p-10">
                <h1 class = "p-15 text-transparent bg-clip-text bg-gradient-to-r from-teal-700 to-green-600">Conséquences économiques et sociales </h1>
                <p class = "p-10 mb-5"> Ces cinquante dernières années, la consommation des ressources naturelles et des matières premières par l’homme a été multipliée par dix. Les matières utilisées pour produire les biens de consommation sont ainsi <span class="font-bold">de plus en plus rares</span> et leur fabrication implique l’émission de gaz à effet de serre. En outre, le fait de jeter un produit après utilisation augmente d’une part le volume de déchets, source de pollution, et entraîne à nouveau le recours à des ressources aujourd’hui limitées pour relancer la production de nouveaux biens de consommation.<br><br>
                    Se fondant sur la réutilisation des ressources, des produits et des déchets, l’économie circulaire offre une voie de sortie au modèle du tout jetable et peut réconcilier économie et environnement. Elle permet de <span class="font-bold">limiter la consommation, le gaspillage des ressources et la production des déchets.</span> <br><br>
                    En amont, la prévention des déchets est une démarche fondamentale. En favorisant l’éco-conception des produits, les comportements d’achats responsables et en agissant sur l’allongement de leur durée de vie, la prévention permet d’économiser le recours aux matières premières notamment celles non renouvelables.</p>
            </div>
            <div class="w-1/4 h-6"></div>
        </div>
        <hr class="mx-auto max-w-2xl h-2 my-8 bg-green-800 border-0 rounded-tl-full rounded-br-full">
        <div class="flex flex-row justify-between items-center">
            <img class="w-1/4 h-auto border-8 border-green-800 rounded-full img-ring-after" src="assets/icons/agriculture-alimentation.png">
            <div class="w-2/4 p-10">
                <h1 class = "p-15 text-transparent bg-clip-text bg-gradient-to-r from-teal-700 to-green-600">Risques accrus pour la biodiversité </h1>
                <p class = "p-10"> Les écosystèmes terrestres et marins subissent actuellement des transformations rapides et profondes, principalement dues aux pressions exercées par les activités humaines et aux changements climatiques en cours. Ces modifications entraînent <span class="font-bold">des conséquences dévastatrices sur la biodiversité</span> et mettent en péril de nombreuses espèces animales et végétales, menaçant ainsi l'équilibre délicat de la vie sur Terre.<br><br>
                    Dans les écosystèmes terrestres, la déforestation, l'urbanisation croissante, la fragmentation des habitats naturels, l'agriculture intensive et l'exploitation des ressources naturelles ont des répercussions majeures. La perte d'habitats vitaux pour de nombreuses espèces réduit leur aire de répartition, les rendant plus vulnérables à l'extinction. Les changements climatiques viennent aggraver ces pressions en altérant les conditions environnementales habituelles, forçant parfois les espèces à migrer vers de nouveaux habitats où leur survie peut être compromise.<br><br>
                    De même, les écosystèmes marins subissent des altérations dramatiques. L'acidification des océans due à l'absorption accrue de dioxyde de carbone (CO2) provenant des activités humaines perturbe les écosystèmes marins, affectant la formation des coquilles et le développement des organismes marins tels que les coraux, les mollusques et les crustacés. La surpêche, la pollution plastique, les déversements de produits chimiques et les changements de température de l'eau entraînent également <span class="font-bold">des dégâts considérables pour la faune et la flore marines.</span><br><br>
                </p>
            </div>
            <div class="w-1/4 h-6"></div>
        </div>

    </div>
{% endblock %}
